@{
    ViewData["Title"] = "Caja de Ahorros";
}

    <div class="text-center">
        <h1 class="display-4">BIENVENIDO</h1>
        <p>Sistema de Interfaces e empresión de cheques de Recursos Huamanos.</p>
    </div>
